/logs

### https://raw.github.com/github/gitignore/8edb8a95c4c4b3dce71a378aaaf89275510b9cef/scala.gitignore

*.class
*.log

# IntelliJ
*.iml
*.ipr
*.iws
.idea
/.idea/

#build files
BUILD_DATE
build/
.gradle
target/
